.trr{
  animation: tr 1s linear 1 forwards;
  transition: all 1s;
  display: block;
}

/* @keyframes tr {
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(2);

  }
} */

.btnn{
  /* transition: 5s; */
  animation: aman 1s linear 1 forwards;
  
}

@keyframes aman {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/* .nav .NavLink{
  text-decoration: none;
  color: black;
}
.nav .active{
  color: orange;
  text-decoration: none;
} */

.nav .links{
  text-decoration: none;
  color: orange;
}

.nav li .active{
  color: red;
}



